html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
p {
  margin: auto;
  height: 100%;
  text-align: center;
  line-height: 225%;
}
.App > * {
  overflow-y: hidden;
  text-align: center;
}

.App {
  text-align: center;
  border: solid;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas:
    "display display display display"
    "clear clear clear .";
  font-size: 250%;
}
@media only screen and (min-width: 768px) {
  .App {
    width: 30%;
  }
}

.display {
  border: solid;
  grid-area: display;
  background-color: lightgrey;
}

.clear {
  border: solid;
  grid-area: clear;
}

#divide {
  border: solid;
  grid-area: divide;
}

.num-button {
  border: solid;
  background-color: rgb(253, 153, 114);
}
.decimal {
  border: solid;
  background-color: rgb(253, 153, 114);
}
.ops-button {
  border: solid;
  background-color: slategrey;
}
